
.main-footer {
  color: white;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  min-height: 23vh;
  width: 100%;
  background: #444;
  margin-top: 40px;
  font-size: 1em;
}

/* Social Follows */
.social-name {
  font-size: 20px;
  font-family: cursive;
  color: #FDA50F;
}

.social-container {
  background-color: #444;
  padding: 10px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;

}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.instagram {
  color: #899faa;
}

a.twitter {
  color: #49a1eb;
}

a.whatsapp {
  color: rgb(42, 216, 42);
}

a.linkedin {
  color: rgb(17, 5, 98);
}

a.github {
  color: black;
}
